.button {
  padding: 18px;
  background: var(--primary-color);
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.input {
  padding: 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.link {
  cursor: pointer;
  color: var(--primary-color);
}