.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  justify-content: right;
  background-color:  var(--primary-color);
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.button {
  padding: 12px;
  background: var(--accent-color);
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}