.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  justify-content: right;
  background-color:  var(--primary-color);
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}